.App {
  text-align: center;
}

.title {
 width :100%;
 text-align: center;
 margin:0 auto;
}


.highlight {
  background: #16abab;
}

.content{
  padding-left: 20px;
}

.user{
  width:50px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.userbox{
  text-align: left;
  padding-left: 30px;
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 30px;
}

.back{
  width: 100%;
  height: 100%;
  border-left: solid 3px rgb(232, 232, 232);
  background-color: #F9FAFB;
  padding-bottom: 400px;
}

.back2{
  background-color: white;
  width: 100%;
  height: 100%;
  margin-left: 20px;
  padding-bottom: 300px;
}


